.swipe-button {
  touch-action: manipulation;
  border-radius: 19.3px;
  height: 40px;
  overflow: hidden;
  &:hover:enabled {
    cursor: pointer;
  }
  &:disabled > svg > * {
    stroke: #808080;
  }
  & > svg > * {
    transition-property: fill, stroke;
    transition-duration: 180ms, 180ms;
    fill: transparent;
    stroke: $primary-black;
  }
  &:hover:enabled > svg > * {
    fill: $primary-black;
  }
  &:hover:enabled > svg > path {
    stroke: #FFFFFF;
  }
  &--dark {
    & > svg > * {
      stroke: #FFFFFF;
    }
    &:hover:enabled > svg > * {
      fill: #FFFFFF;
      stroke: #FFFFFF;
    }
    &:hover:enabled > svg > path {
      stroke: $primary-black;
    }
  }
  & + & {
    margin-left: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .swipe-button {
    &:hover:enabled {
      cursor: initial;
    }
  }
}