.textgroup {
  &--fade {
    transform: translateY(50px);
    opacity: 0;
    transition-duration: 0.5s, 0.5s;
    transition-property: opacity, transform;
    animation-name: textgroupFade;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
  }
}

.textgroup__title {
  margin: 0 0 30px;
  color: $primary-color;
}

.textgroup__text {
  margin: 0 0 64px 0;
  opacity: 0.64;
  font-family: 'MontserratRegular';
  font-size: 16px;
  line-height: 24px;
  width: 400px;
  min-height: 96px;
  color: $primary-color;
}

@keyframes textgroupFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .textgroup__text {
    width: auto;
  }
}