.textgroup {
  &--fade {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
    transition-duration: 0.5s, 0.5s;
    transition-property: opacity, transform;
    animation-name: textgroupFade;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
  }
}

.textgroup__title {
  margin: 0 0 30px;
  color: $primary-color;
  font-weight: 600;
  font-family: 'MontserratSemiBold';
  font-size: 40px;
  line-height: 52px;
}

.textgroup__text {
  margin: 0 0 64px 0;
  opacity: 0.72;
  font-family: 'MontserratRegular';
  font-size: 16px;
  line-height: 24px;
  width: 400px;
  min-height: 96px;
  color: $primary-color;
}

.textgroup--mobile-controls {
  height: 50px;
  display: none;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  width: 100%;
  margin-bottom: 32px;
}

.textgroup--mobile {
  &__title {
    margin: 0;
    display: none;
    font-family: 'MontserratSemiBold';
    max-width: 70%;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }

  &__text {
    font-size: 14px;
    display: none;
  }
}

@keyframes textgroupFade {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .textgroup {
    display: none;
  }

  .textgroup__text {
    width: auto;
  }

  .textgroup--mobile-controls {
    display: flex;
  }

  .textgroup--mobile__text {
    display: block;
  }

  .textgroup--mobile__title {
    display: block;
  }
}